bleach==3.3.0
build==0.3.1.post1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
cryptography==3.4.6
decorator==4.4.2
dnspython==1.16.0
docopt==0.6.2
docutils==0.16
fett==0.3.2
idna==2.10
importlib-metadata==3.7.3
jeepney==0.6.0
keyring==23.0.0
networkx==2.5.1
packaging==20.9
pep517==0.10.0
pip-autoremove==0.9.1
pkginfo==1.7.0
pycparser==2.20
Pygments==2.8.1
pymongo==3.11.3
pyparsing==2.4.7
python-jsonrpc-server==0.3.4
pyvitals==0.2.0
PyYAML==5.4.1
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.3.1
six==1.15.0
snooty-lextudio==1.9.0.dev0
toml==0.10.2
tqdm==4.59.0
twine==3.4.1
typing-extensions==3.7.4.3
ujson==1.35
urllib3==1.26.4
watchdog==1.0.2
webencodings==0.5.1
zipp==3.4.1
